OPENAI_API_KEY="YOUR-API-KEY-HERE"
ELEVEN_LABS_KEY="YOUR-API-KEY-HERE"
DRAWING_ENABLED="true"
GPT_MODEL="gpt-3.5-turbo"

AWS_ACCESS_KEY_ID="AKIAWACDUTGKU77FMCOT"
AWS_SECRET_ACCESS_KEY="g4toFiv6dBfrLe3K2NjDy/vxBZagxj11XkdzFQCB"
AWS_BUCKET_REGION="us-east-1"
AWS_BUCKET_NAME="chat-dndn-images"
AWS_BUCKET_ARN="arn:aws:s3:::chat-dnd-images"

RETHINKDB_HOST="localhost"
RETHINKDB_PORT="28015"
RETHINKDB_NAME=""
RETHINKDB_PASSWORD=""
RETHINKDB_USERNAME=""