@layer utilities {
  .message {
    white-space: normal;
  }

  .message p:not(:first-child) {
    margin-top: 1em;
  }

  .message ul {
    white-space: normal;
    padding-left: 2em;
    list-style: disc;
  }

  .message ol {
    white-space: normal;
    padding-left: 2em;
    list-style: decimal;
  }

  .message ol > li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  .message em {
    font-style: italic;
    letter-spacing: -0.1px;
  }

  .message strong {
    font-weight: bold;
  }

  .message blockquote {
    @apply border-l-4 border-sepia/20 pl-4;
  }
}
