@layer components {
  .paper {
    @apply max-w-2xl my-2 md:my-4 xl:my-8 py-2 xl:py-4;
    @apply text-sepia-700;

    filter: drop-shadow(0 5px 13px rgb(0 0 0 / 0.45))
      drop-shadow(0 8px 5px rgb(0 0 0 / 0.25));

    /* 9-slice background hack with border */
    border-image: url("/static/images/parchment.png");
    border-image-slice: 96 fill;
    border-image-repeat: round round;
    border-color: transparent;
    border-image-width: 48px;
    border-width: 24px;
  }

  @media screen and (min-width: 520px) {
    .paper {
      border-image-width: 72px;
      border-width: 48px;
    }
  }
}
