@layer components {
  .paper {
    @apply md:my-4 xl:my-8 py-2 xl:py-4;
    @apply text-sepia-700;

    filter: drop-shadow(0 5px 13px rgb(0 0 0 / 0.45))
      drop-shadow(0 8px 5px rgb(0 0 0 / 0.25));

    /* 9-slice background hack with border */
    border-image: url("/static/images/parchment.png");
    border-image-slice: 96 fill;
    border-image-repeat: round round;
    border-color: transparent;
    border-image-width: 48px;
    border-width: 24px;
  }

  @media screen and (min-width: 520px) {
    .paper {
      border-image-width: 72px;
      border-width: 48px;
    }
  }

  .paper-small {
    @apply max-w-80 py-2;
    @apply text-sepia-700;

    filter: drop-shadow(0 5px 13px rgb(0 0 0 / 0.45))
      drop-shadow(0 8px 5px rgb(0 0 0 / 0.25));

    /* 9-slice background hack with border */
    border-image: url("/static/images/parchment.png");
    border-image-slice: 96 fill;
    border-image-repeat: round round;
    border-color: transparent;
    border-image-width: 36px;
    border-width: 18px;
  }

  .paper-container {
    @apply flex flex-row items-start overflow-x-auto;
    @apply snap-x snap-mandatory;
    @apply p-2 gap-4 scroll-p-2;
    @apply sm:p-4 sm:gap-8 sm:scroll-p-4;
    @apply md:p-6 md:gap-12 md:scroll-p-6;
    @apply lg:p-6 lg:gap-6 lg:scroll-p-4;
    @apply xl:p-8 xl:gap-8;
    @apply lg:justify-center lg:snap-none;
  }

  .paper-container > .paper {
    @apply snap-center flex-shrink-0;
    @apply w-[calc(100vw-1rem)];
    @apply sm:w-[calc(100vw-2rem)];
    @apply md:w-[calc(100vw-3rem)];
    @apply lg:max-w-[calc(50vw-4rem)] lg:flex-shrink lg:snap-none;
    @apply scroll-mt-8;
    @apply scroll-pt-8;
  }
}
