@layer components {
  .paper {
    @apply md:my-4 xl:my-8 py-2 xl:py-4;
    @apply text-sepia-700;

    filter: drop-shadow(0 5px 13px rgb(0 0 0 / 0.45))
      drop-shadow(0 8px 5px rgb(0 0 0 / 0.25));

    /* 9-slice background hack with border */
    border-image: url("/static/images/parchment.png");
    border-image-slice: 96 fill;
    border-image-repeat: round round;
    border-color: transparent;
    border-image-width: 48px;
    border-width: 24px;
  }

  @media screen and (min-width: 520px) {
    .paper {
      border-image-width: 72px;
      border-width: 48px;
    }
  }

  .paper-small {
    @apply max-w-80 py-2;
    @apply text-sepia-700;

    filter: drop-shadow(0 5px 13px rgb(0 0 0 / 0.45))
      drop-shadow(0 8px 5px rgb(0 0 0 / 0.25));

    /* 9-slice background hack with border */
    border-image: url("/static/images/parchment.png");
    border-image-slice: 96 fill;
    border-image-repeat: round round;
    border-color: transparent;
    border-image-width: 36px;
    border-width: 18px;
  }

  .paper-container {
    @apply flex flex-row px-2 items-start gap-8 py-2 md:p-4 lg:p-8 overflow-x-auto;
    @apply snap-x snap-mandatory scroll-p-4;
    @apply xl:justify-center xl:snap-none;
  }

  .paper-container > .paper {
    @apply snap-center w-[calc(100vw-2rem)] flex-shrink-0;
    @apply xl:max-w-[calc(50vw-4rem)] xl:flex-shrink xl:snap-none;
  }
}
