@layer utilities {
  .small-caps {
    font-variant-caps: small-caps;
  }

  .petit-caps {
    font-variant-caps: petite-caps;
  }

  .all-small-caps {
    font-variant-caps: all-small-caps;
  }

  .all-petit-caps {
    font-variant-caps: all-petite-caps;
  }

  .titling-caps {
    font-variant-caps: titling-caps;
  }

  .normal-caps {
    font-variant-caps: normal;
  }
}
