@import "./alkatra.css";

@font-face {
  font-family: "Kingthings Caligraphica";
  font-style: normal;
  font-weight: normal;

  src: url("/static/fonts/Kingthings_Calligraphica_Light.ttf") format("ttf");
}

@font-face {
  font-family: "Kingthings Caligraphica";
  font-style: normal;
  font-weight: bold;

  src: url("/static/fonts/Kingthings_Calligraphica_2.ttf") format("ttf");
}

@font-face {
  font-family: "Kingthings Caligraphica";
  font-style: italic;
  font-weight: normal;

  src: url("/static/fonts/Kingthings_Calligraphica_Italic.ttf") format("ttf");
}

@font-face {
  font-family: "Kingthings Exeter";
  font-style: normal;
  font-weight: normal;

  src: url("/static/fonts/Kingthings_Exeter.ttf") format("ttf");
}

@font-face {
  font-family: "Kingthings Foundation";
  font-style: normal;
  font-weight: normal;

  src: url("/static/fonts/Kingthings_Foundation.ttf") format("ttf");
}

@font-face {
  font-family: "Kingthings Petrock";
  font-style: normal;
  font-weight: normal;

  src: url("/static/fonts/Kingthings_Petrock.ttf") format("ttf");
}

@font-face {
  font-family: "Kingthings Petrock";
  font-style: normal;
  font-weight: light;

  src: url("/static/fonts/Kingthings_Petrock_light.ttf") format("ttf");
}
